<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{{ body }}}
</body>
=======

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Lookback</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Movie Lookback</a>
            </h1>
            <nav>
                <a href="/login">login</a>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>

</body>

>>>>>>> 7f72e5a2c1879e1578d7eb1b3cffe295f9c2a592
</html>